.search {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
}
.search #address {
  width: 150px;
  height: 20px;
  line-height: 20px;
  border: solid 1px #555;
  padding: 5px;
  font-size: 12px;
  box-sizing: content-box;
}
.search #submit {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
  border: solid 1px #555;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: content-box;
}
